body {
	background: #F1F4F5;

	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
		
		&-thumb {
			background: #c1c1c1;
			border-radius: 50px;
		}
		&-track {
			background: #fafafa;
		}
	}
}

// layout
.inner {
	padding: 0 18px;
}

// common style
.d-flex {
	display: flex;
}
.flex-ac {
	align-items: center;
}
.flex-jc {
	justify-content: center;
}
.flex-js {
	justify-content: space-between;
}
.w100 {
	width: 100%;
}

// button
.btn_ty01 {
	display: inline-block;
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 500;	
	background: var(--color-green);
	transition: all .2s;
	border-radius: 5px;

	@include tablet {
		height: 35px;
		line-height: 34px;
		padding: 0 10px;
	}

	&:hover {
		background-color: var(--color-darkGreen);
	}

	&.bBtn {
		font-size: 15px;
		max-width: 185px;
		height: 48px;
		line-height: 48px;
	}

	&.cancel {
		background: #F5F5F5;
		color: #323C47;

		&:hover {
			background-color: #f1f1f1;
		}
	}

	&.btn_bg {
		padding-left: 40px;
		background-repeat: no-repeat;
		background-position: left 14px center;

		@include tablet {
			padding-left: 35px;
		}
	}

	&.add {
		background-image: url(../img/icon/add.svg);		
	}
	&.modify {
		background-image: url(../img/icon/edit.svg);
		background-color: #41A4FF;

		&:hover {
			background-color: #2795fc;
		}
	}
	&.del {
		background-image: url(../img/icon/trash.svg);
		background-color: var(--color-lightGray);

		&:hover {
			background-color: #586571;
		}
	}
	&.down {
		background-image: url(../img/icon/download.svg);
		background-color: #fff;
		border: 1px solid #207355;
		color: #207355;
		vertical-align: middle;

		&:hover {
			background-image: url(../img/icon/download_white.svg);
			background-color: #207355;
			color: #fff;
		}
	}
}
// 등록/수정/삭제/다운로드 버튼
.setting_btn_wrap {
	.btn_ty01 {
		margin-left: 13px;

		@include mobile {
			margin-left: 4px;
			font-size: 0;
		}
	}
}
// checkbox
.check_type {
	input {
		text-indent: -99999999px;
		overflow: hidden;
		font-size: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: 0;
		height: 0;
		
		&:checked ~ span::before {
			content: '';
			background: url(../img/icon/check.svg) no-repeat center, #3BC996;
			color: #fff;
			border-color: #3BC996;
		}
	}	
	span {
		position: relative;
		user-select: none;	
		
		&::before {
			content: '';
			color: var(--color-gray);
			text-align: center;
			vertical-align: middle;
			width: 18px;
			height: 18px;
			line-height: 18px;
			display: inline-block;
			border-radius: 3px;
			background-color: #fff;
			border: 1px solid var(--color-gray);
			margin-right: 8px;
		}
	}
	label {
		display: inline-block;
		font-size: 14px;
		color: #323232;
		cursor: pointer;
	}
	&.radius {
		span {
			&::before {
				content: '';
				background: url(../img/icon/check_gray.svg) no-repeat center, #fff;
				border-radius: 50%;
			}
		}
	}
	&.radio {
		input:checked ~ span {
			&::before {
				border-color: #3BC996;
				background-color: #fff;
				content: '';
			}
			&::after {
				content: '';
				position: absolute;
				left: 5px;
				top: 6px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #3BC996;
			}
		}

		span {
			&::before {
				border-radius: 50%;
			}
		}
	}
}

// input
.input_ty01 {
	label {
		font-size: 12px;
		color: #323232;
	}
	input {
		border-bottom: 1px solid #B7B7B7;	
		display: block;
		width: 100%;
		font-size: 14px;
		padding: 8px 0;

		&:not(:read-only):focus {
			border-color: var(--color-green);
		}
		&::placeholder {
			color: #B7B7B7;
		}
	}

	&.select_input input:focus {
		border-color: #B7B7B7;
	}

}
.input_ty02 {
	input {
		border: 1px solid #d2d2d2;
		border-radius: 10px;
		background: #fff;
		padding: 12px 10px;
		font-size: 14px;
		font-weight: 500;
		width: 100%;

		&:focus {
			border-color: var(--color-green);
		}

		&::placeholder {
			color: var(--color-gray);
		}
	}
}

// select
.select_input {
	position: relative;
	user-select: none;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 10px;
		background: url(../img/icon/angle_down.svg);
		width: 20px;
		height: 20px; 
	}
	input {
		padding-right: 30px;
		user-select: none;
		cursor: pointer;
	}

	&.active {
		&::before {
			transform: rotate(180deg);
		}

		.select_box {
			opacity: 1;
			visibility: visible;
			&:empty{
				visibility: hidden;
			}
		}
	}
}
.select_box {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 4px 11px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	width: 100%;
	background: #fff;
	max-height: 240px;
	height: auto;
	overflow-y: auto;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 2;
	transition: all .2s;
	
	&::-webkit-scrollbar {
		width: 7px;
		
		&-thumb {
			background: #c1c1c1;
			border-radius: 50px;
		}
		&-track {
			background: #fafafa;
			border-width: 0px 0.5px;
			border-style: solid;
			border-color: #E8E8E8;
		}
	}
	
	li {
		cursor: pointer;
		height: 40px;
		line-height: 40px;
		padding: 0 12px;
		transition: .2s;
		font-size: 14px;
		
		&:hover {
			background: #f5f5f5;
		}
	}
}

// box
.box_ty01 {
	background-color: #fff;
	border-radius: 5px; 
}

.dim{
  background : rgba(0,0,0,0.5);
  position : fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
	z-index: 90;
	transition: all .4s;
}