*{margin:0; padding:0; box-sizing:border-box; word-break:keep-all; list-style:none; border-collapse:collapse; text-decoration:none; font-family:'NotoSansKR';}
a{color:inherit; text-decoration:none;
    &:hover,
    &:focus,
    &:active{background:none; text-decoration:none;}
}

h1, h2, h3, h4, h5, h6, th{font-weight:400}

ul, ol{list-style:none}

i, em, address{font-style:normal;}

img, fieldset{max-width:100%; vertical-align:top; outline:none;}

img{width:100%; height:100%; object-fit:cover;}

iframe{border:none;}

button{display:inline-block; outline:none; font-size:inherit; color:inherit; background:none; border:none; cursor:pointer;}

table{border-collapse:collapse; border-spacing:0;}

input, textarea{
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
}

.clearfix::before,
.clearfix::after{content:''; display:block; clear:both; overflow:hidden;}