// 색상 
body {
	--color-gray: #939393;
	--color-lightGray: #637381;
	--color-green: #3BC996;	
	--color-darkGreen: #3bc394;		
}

// 미디어쿼리
@mixin desktop {
  @media all and (max-width: 1440px) {
    @content;
  }
};
@mixin desktop-sm {
  @media all and (max-width: 1200px) {
    @content;
  }
};
@mixin tablet {
  @media all and (max-width: 991px) {
    @content;
  }
};
@mixin mobile {
  @media all and (max-width: 768px) {
    @content;
  }
};