/* NotoSansKR */
@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  font-style: normal;
  src: url("../font/NotoSansKR-Thin.eot");
  src: url("../font/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Thin.woff2") format("woff2"), url("../font/NotoSansKR-Thin.woff") format("woff"), url("../font/NotoSansKR-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  font-style: normal;
  src: url("../font/NotoSansKR-Light.eot");
  src: url("../font/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Light.woff2") format("woff2"), url("../font/NotoSansKR-Light.woff") format("woff"), url("../font/NotoSansKR-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: url("../font/NotoSansKR-Regular.eot");
  src: url("../font/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Regular.woff2") format("woff2"), url("../font/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSansKR-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-style: normal;
  src: url("../font/NotoSansKR-Medium.eot");
  src: url("../font/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Medium.woff2") format("woff2"), url("../font/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSansKR-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-style: normal;
  src: url("../font/NotoSansKR-Bold.eot");
  src: url("../font/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Bold.woff2") format("woff2"), url("../font/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSansKR-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 900;
  font-style: normal;
  src: url("../font/NotoSansKR-Black.eot");
  src: url("../font/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Black.woff2") format("woff2"), url("../font/NotoSansKR-Black.woff") format("woff"), url("../font/NotoSansKR-Black.ttf") format("truetype");
}
body {
  --color-gray: #939393;
  --color-lightGray: #637381;
  --color-green: #3BC996;
  --color-darkGreen: #3bc394;
}

body {
  background: #F1F4F5;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background: #fafafa;
}

.inner {
  padding: 0 18px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-js {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w100 {
  width: 100%;
}

.btn_ty01 {
  display: inline-block;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: var(--color-green);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
}
@media all and (max-width: 991px) {
  .btn_ty01 {
    height: 35px;
    line-height: 34px;
    padding: 0 10px;
  }
}
.btn_ty01:hover {
  background-color: var(--color-darkGreen);
}
.btn_ty01.bBtn {
  font-size: 15px;
  max-width: 185px;
  height: 48px;
  line-height: 48px;
}
.btn_ty01.cancel {
  background: #F5F5F5;
  color: #323C47;
}
.btn_ty01.cancel:hover {
  background-color: #f1f1f1;
}
.btn_ty01.gray {
  background: #f5f5f5;
  color: #4F4F4F;
}
.btn_ty01.btn_bg {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left 14px center;
}
@media all and (max-width: 991px) {
  .btn_ty01.btn_bg {
    padding-left: 35px;
  }
}
.btn_ty01.add {
  background-image: url(../img/icon/add.svg);
}
.btn_ty01.mod {
  background-image: url(../img/icon/edit.svg);
  background-color: #41A4FF;
}
.btn_ty01.mod:hover {
  background-color: #2795fc;
}
.btn_ty01.can {
  background-image: url(../img/icon/cancel.svg);
  background-color: #B5B5B5;
}
.btn_ty01.can:hover {
  background-color: #ada7a7;
}
.btn_ty01.del {
  background-image: url(../img/icon/trash.svg);
  background-color: var(--color-lightGray);
}
.btn_ty01.del:hover {
  background-color: #586571;
}
.btn_ty01.down {
  background-image: url(../img/icon/download.svg);
  background-color: #fff;
  border: 1px solid #207355;
  color: #207355;
  vertical-align: middle;
}
.btn_ty01.down:hover {
  background-image: url(../img/icon/download_white.svg);
  background-color: #207355;
  color: #fff;
}

.bottom_btn_wrap {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 768px) {
  .bottom_btn_wrap {
    padding: 60px 0 30px;
  }
}
.bottom_btn_wrap .btn_ty01 {
  max-width: 185px;
  width: 100%;
  margin-right: 20px;
  height: 48px;
  line-height: 48px;
}
.bottom_btn_wrap .btn_ty01:last-child {
  margin-right: 0;
}

.btn_sort {
  width: 20px;
  height: 20px;
  background: url(../img/icon/sort.svg) no-repeat center/20px;
  vertical-align: sub;
}

.setting_btn_wrap .btn_ty01 {
  margin-left: 13px;
}
@media all and (max-width: 768px) {
  .setting_btn_wrap .btn_ty01 {
    margin-left: 4px;
    font-size: 0;
  }
}

.check_type input {
  text-indent: -99999999px;
  overflow: hidden;
  font-size: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 0;
  height: 0;
}
.check_type input:checked ~ span::before {
  content: "";
  background: url(../img/icon/check.svg) no-repeat center, #3BC996;
  color: #fff;
  border-color: var(--color-green);
}
.check_type span {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.check_type span::before {
  content: "";
  color: var(--color-gray);
  text-align: center;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid var(--color-green);
}
.check_type label {
  display: inline-block;
  font-size: 14px;
  color: #323232;
  cursor: pointer;
}
.check_type.radio label {
  font-size: 16px;
}
@media all and (max-width: 768px) {
  .check_type.radio label {
    font-size: 14px;
  }
}
.check_type.radio input:checked ~ span::before {
  border-width: 2px;
  background-color: #fff;
}
.check_type.radio input:checked ~ span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--color-green);
}
.check_type.radio span {
  vertical-align: text-bottom;
}
.check_type.radio span::before {
  width: 24px;
  height: 24px;
  border-color: #E0E2E7;
  border-radius: 50%;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 768px) {
  .check_type.radio span::before {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}

.radio_group .tit {
  display: inline-block;
}
@media all and (max-width: 991px) {
  .radio_group .tit {
    display: block;
  }
}
.radio_group .check_type.radio {
  display: inline-block;
  margin-right: 10%;
  margin-bottom: 5px;
}

.radio_wrap {
  width: 100%;
}

.input_ty01 label {
  font-size: 12px;
  color: #323232;
}
.input_ty01 input {
  border-bottom: 1px solid #B7B7B7;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 8px 0;
}
.input_ty01 input:not(:-moz-read-only):focus {
  border-color: var(--color-green);
}
.input_ty01 input:not(:read-only):focus {
  border-color: var(--color-green);
}
.input_ty01 input::-webkit-input-placeholder {
  color: #B7B7B7;
}
.input_ty01 input::-moz-placeholder {
  color: #B7B7B7;
}
.input_ty01 input:-ms-input-placeholder {
  color: #B7B7B7;
}
.input_ty01 input::-ms-input-placeholder {
  color: #B7B7B7;
}
.input_ty01 input::placeholder {
  color: #B7B7B7;
}
.input_ty01.select_input input:focus {
  border-color: #B7B7B7;
}

.input_ty02 input,
.input_ty02 textarea {
  border: 1px solid #E0E2E7;
  border-radius: 5px;
  background: #fff;
  padding: 8px 16px;
  font-size: 16px;
  width: 100%;
  height: 40px;
}
@media all and (max-width: 991px) {
  .input_ty02 input,
  .input_ty02 textarea {
    font-size: 14px;
  }
}
.input_ty02 input::-webkit-input-placeholder, .input_ty02 textarea::-webkit-input-placeholder {
  color: #BEC8D0;
}
.input_ty02 input::-moz-placeholder, .input_ty02 textarea::-moz-placeholder {
  color: #BEC8D0;
}
.input_ty02 input:-ms-input-placeholder, .input_ty02 textarea:-ms-input-placeholder {
  color: #BEC8D0;
}
.input_ty02 input::-ms-input-placeholder, .input_ty02 textarea::-ms-input-placeholder {
  color: #BEC8D0;
}
.input_ty02 input::placeholder,
.input_ty02 textarea::placeholder {
  color: #BEC8D0;
}

.select_input {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 100%;
}
.select_input::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(../img/icon/angle_down.svg);
  width: 20px;
  height: 20px;
}
.select_input input {
  padding-right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.select_input.active::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.select_input.active .select_box {
  opacity: 1;
  visibility: visible;
}
.select_input.active .select_box:empty {
  visibility: hidden;
}

.select_box {
  display: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 4px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 4px 11px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  background: #fff;
  max-height: 240px;
  height: auto;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 5px;
  margin-bottom: 5px;
}
.select_box::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.select_box::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 50px;
}
.select_box::-webkit-scrollbar-track {
  background: #fafafa;
  border-width: 0px 0.5px;
  border-style: solid;
  border-color: #E8E8E8;
}
.select_box li {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.select_box li:hover {
  background: #f5f5f5;
}

.react-datepicker {
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
          box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
  border-radius: 16px;
  padding: 28px 24px;
  margin: 5px;
}
@media all and (max-width: 360px) {
  .react-datepicker {
    padding: 28px 18px;
  }
}
.react-datepicker__header {
  padding: 0;
  border: none;
  margin-bottom: 16px;
}
.react-datepicker__customHeader {
  padding-bottom: 20px;
  margin-bottom: 16px;
  border-bottom: 0.8px solid #E4E5E7;
}
.react-datepicker__customHeader .year_month {
  font-size: 14px;
  color: #323232;
}
.react-datepicker__customHeader .arrow_left,
.react-datepicker__customHeader .arrow_right {
  width: 16px;
  height: 16px;
  position: relative;
}
.react-datepicker__customHeader .arrow_left img,
.react-datepicker__customHeader .arrow_right img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.react-datepicker__customHeader .arrow_left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.react-datepicker-wrapper {
  height: 100%;
}
.react-datepicker__input-container {
  height: 100%;
}
.react-datepicker__input-container input {
  background: url(../img/icon/calendar.svg) no-repeat right 18px center;
  width: 100%;
  height: 100%;
  padding: 0 16px;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 40px;
}
.react-datepicker__day-name:last-child, .react-datepicker__day:last-child, .react-datepicker__time-name:last-child {
  margin-right: 0;
}
.react-datepicker__day-name {
  font-size: 12px;
  color: #7E818C;
}
.react-datepicker__day--selected {
  font-weight: normal;
  background: #323232;
  color: #fff;
}
.react-datepicker .react-datepicker__day:not(.react-datepicker__day--in-range) {
  background-color: transparent;
  color: #000;
}
.react-datepicker .react-datepicker__day--in-range, .react-datepicker .react-datepicker__day--selected:hover, .react-datepicker .react-datepicker__day--in-selecting-range:hover, .react-datepicker .react-datepicker__day--in-range:hover, .react-datepicker .react-datepicker__month-text--selected:hover, .react-datepicker .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker .react-datepicker__month-text--in-range:hover, .react-datepicker .react-datepicker__quarter-text--selected:hover, .react-datepicker .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker .react-datepicker__quarter-text--in-range:hover, .react-datepicker .react-datepicker__year-text--selected:hover, .react-datepicker .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker .react-datepicker__year-text--in-range:hover {
  background: #323232;
  border-radius: 40px;
  color: #fff;
}
.react-datepicker .react-datepicker__day--disabled, .react-datepicker .react-datepicker__month-text--disabled, .react-datepicker .react-datepicker__quarter-text--disabled, .react-datepicker .react-datepicker__year-text--disabled {
  color: #ccc !important;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--selecting-range-start, .react-datepicker__day--selecting-range-end) {
  background: #f5f5f5;
  color: #323232;
}
.react-datepicker__day--outside-month:not(.react-datepicker__day--in-range, .react-datepicker__day--disabled) {
  color: #7E818C !important;
}
.react-datepicker__current-month {
  border-bottom: 0.8px solid #E4E5E7;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.react-datepicker__week {
  margin-bottom: 16px;
}
.react-datepicker__week:last-child {
  margin-bottom: 0;
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker__header {
  background-color: #fff;
}
.react-datepicker__navigation {
  top: 30px;
}
.react-datepicker__navigation--next {
  right: 14px;
}
.react-datepicker__navigation--previous {
  left: 14px;
}
.react-datepicker__navigation-icon::before {
  border-width: 1.5px 1.5px 0 0;
  height: 6px;
  width: 6px;
}
.react-datepicker__children-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.react-datepicker__children-container .button-container {
  margin-top: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.react-datepicker__children-container .button-container button {
  font-weight: 400;
}
.react-datepicker__children-container .button-container .btn_ctrl {
  width: 49%;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
}

.box_ty01 {
  background-color: #fff;
  border-radius: 5px;
}

.dim {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.filter_wrap {
  padding: 16px 18px;
}
@media all and (max-width: 768px) {
  .filter_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.filter_wrap .input_ty02 {
  display: inline-block;
  max-width: 240px;
  height: 40px;
  margin-right: 10px;
}
@media all and (max-width: 768px) {
  .filter_wrap .input_ty02 {
    max-width: 50%;
  }
  .filter_wrap .input_ty02:last-child {
    margin-right: 0;
  }
}
.filter_wrap .input_ty02 input,
.filter_wrap .input_ty02 .select_box {
  color: var(--color-lightGray);
}
@media all and (max-width: 768px) {
  .filter_wrap .date_input_wrap {
    margin: 10px 0;
  }
}
.filter_wrap .date_input_wrap .date_input {
  max-width: 200px;
}
@media all and (max-width: 768px) {
  .filter_wrap .date_input_wrap .date_input {
    max-width: 50%;
  }
}
.filter_wrap .btn_search {
  padding: 0 20px;
}
.filter_wrap .tab_btn {
  height: 52px;
  margin-top: -10px;
}
.filter_wrap .tab_btn li {
  display: inline-block;
  width: 130px;
  color: var(--color-lightGray);
  height: 100%;
}
.filter_wrap .tab_btn li .btn {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.filter_wrap .tab_btn li .btn.active {
  color: #1C2434;
  border-bottom: 1px solid #1C2434;
  font-weight: 500;
}

.table {
  table-layout: fixed;
  width: 100%;
}
@media all and (max-width: 991px) {
  .table {
    font-size: 14px;
  }
}
.table_type {
  padding-bottom: 88px;
  min-height: 60vh;
  position: relative;
}
.table_type .foot_btn_wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 18px 50px;
}
@media all and (max-width: 768px) {
  .table_type .foot_btn_wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.table_type .foot_btn_wrap .btn_ty01 {
  margin-left: 13px;
}
@media all and (max-width: 768px) {
  .table_type .foot_btn_wrap .btn_ty01 {
    margin-left: 4px;
    font-size: 0;
  }
}
.table_wrap {
  overflow-x: auto;
}
.table_wrap::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.table_wrap::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 50px;
}
.table_wrap::-webkit-scrollbar-track {
  background: #fafafa;
  border-width: 0px 0.5px;
  border-style: solid;
  border-color: #E8E8E8;
}
.table_wrap.line {
  border-bottom: 12px solid #fff;
}
.table_wrap.line .table {
  min-width: 1400px;
}
.table_wrap.line .table tr {
  height: 58px;
}
.table_wrap.line .table tr:nth-child(even) {
  background-color: #fff;
}
.table_wrap.line .table tr td, .table_wrap.line .table tr th {
  border: 1px solid #eee;
  color: #000;
}
.table_wrap.line .table tr td:first-child, .table_wrap.line .table tr th:first-child {
  border-left: 0;
}
.table_wrap.line .table tr td:last-child, .table_wrap.line .table tr th:last-child {
  border-right: 0;
}
.table thead {
  border-top: 1px solid #EBEFF2;
  border-bottom: 1px solid #EBEFF2;
  background: #FBFCFC;
}
.table tbody {
  color: var(--color-lightGray);
}
.table tbody td.id.disabled {
  padding-right: 30px;
  position: relative;
}
.table tbody td.id.disabled::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icon/stop.svg) no-repeat center;
  width: 18px;
  height: 18px;
}
.table tbody td.etc input {
  background: transparent;
}
.table tr {
  height: 68px;
  text-align: center;
}
.table tr th {
  background-color: #FBFCFC;
}
.table tr .info_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table tr .check {
  width: 70px;
}
.table tr .num {
  width: 100px;
}
.table tr .id, .table tr .email {
  width: 180px;
}
.table tr .name, .table tr .gender, .table tr .birth, .table tr .people {
  width: 120px;
}
.table tr .phone, .table tr .joinDate, .table tr .active {
  width: 150px;
}
.table tr .etc {
  width: 200px;
}
.table tr:nth-child(even) {
  background: #FBFCFC;
}
.table th, .table td {
  word-wrap: break-word;
  padding: 10px 18px;
}

.write_type {
  padding: 28px;
  max-width: 1485px;
  width: 100%;
}
.write_type .essential_area {
  margin-bottom: 50px;
}
.write_tit {
  display: inline-block;
  width: 84px;
  height: 30px;
  line-height: 30px;
  padding-left: 25px;
  color: #1C2434;
  font-size: 14px;
  border-radius: 5px;
  background: url(../img/icon/pencil.svg) no-repeat left 6px center, #F1F4F5;
  margin-bottom: 28px;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  min-height: 48px;
}
.flex_box input,
.flex_box textarea {
  color: var(--color-lightGray);
}
.flex_box textarea {
  resize: none;
  min-height: 124px;
}
.flex_box .addr_wrap {
  width: 100%;
}
.flex_box .addr_wrap input {
  width: calc(100% - 68px);
}
.flex_box .btn_search {
  margin-left: 8px;
  width: 60px;
}
@media all and (max-width: 991px) {
  .flex_box .btn_search {
    height: 40px;
    line-height: 40px;
  }
}
.flex_box:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 1200px) {
  .flex_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}
.flex_box label,
.flex_box .label {
  max-width: 250px;
  width: 100%;
}
@media all and (max-width: 1200px) {
  .flex_box label,
  .flex_box .label {
    max-width: 150px;
    margin: 0 10px 10px 0;
    font-size: 14px;
  }
}
.flex_box .select_input input,
.flex_box .select_box {
  color: var(--color-lightGray);
}
.flex_box .file_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_box .file_wrap > * {
  display: inline-block;
  width: 126px;
  height: 126px;
  border-radius: 8px;
}
.flex_box .btn_file_add {
  border: 0.8px dashed var(--color-green);
  color: var(--color-green);
  margin-right: 14px;
}
.flex_box .btn_file_add .plus {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 22px;
  font-weight: 600;
}
.flex_box .btn_file_add p {
  font-size: 12px;
}
.flex_box .profile_img {
  font-size: 12px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.flex_box .profile_img:hover .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex_box .profile_img .hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  padding: 5px;
  display: none;
}
.flex_box .profile_img .file_name {
  word-break: break-all;
}
.flex_box .profile_img .btn_del {
  text-decoration: underline;
  margin-top: 10px;
}
.flex_box .row {
  width: 100%;
}
.flex_box .row .flex_right {
  margin-bottom: 30px;
}
@media all and (max-width: 1200px) {
  .flex_box .row .flex_right {
    margin-bottom: 15px;
  }
}
.flex_box .row .flex_right:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 1200px) {
  .flex_box .row .flex_right:last-child {
    margin-bottom: 15px;
  }
}
.flex_left {
  width: 50%;
  margin-right: 5%;
}
.flex_left, .flex_right {
  max-width: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 1200px) {
  .flex_left, .flex_right {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 15px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  word-break: keep-all;
  font-family: "NotoSansKR";
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus, a:active {
  background: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

i,
em,
address {
  font-style: normal;
}

img,
fieldset {
  vertical-align: top;
  max-width: 100%;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

iframe {
  border: none;
}

button {
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

.side_menu {
  width: 76px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1C2434;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 25px 0;
  z-index: 100;
}
.side_menu::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.side_menu::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 50px;
}
.side_menu::-webkit-scrollbar-track {
  background: #1C2434;
}
@media all and (max-width: 991px) {
  .side_menu {
    left: -100%;
  }
  .side_menu.wide {
    left: 0;
  }
}
.side_menu .logo {
  display: inline-block;
  width: 40px;
  margin-bottom: 40px;
}
.side_menu_list .btn_wrap .list_btn {
  color: #DEE4EE;
  border-radius: 5px;
  position: relative;
  text-align: left;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.side_menu_list .btn_wrap .list_btn_text {
  opacity: 0;
  visibility: hidden;
  font-weight: 500;
  padding-left: 10px;
  white-space: nowrap;
}
.side_menu_list .btn_wrap .list_btn_icon {
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.side_menu_list .btn_wrap .list_btn::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/icon/angle_down_w.svg) no-repeat center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s, opacity 0.1s;
  transition: all 0.2s, opacity 0.1s;
}
.side_menu_list .btn_wrap .sub_menu_list {
  padding-left: 40px;
  color: #8A99AF;
  margin: 0 0 22px;
  white-space: nowrap;
  display: none;
}
.side_menu_list .btn_wrap .sub_menu_list .list {
  margin-bottom: 10px;
  font-weight: 500;
}
.side_menu_list .btn_wrap .sub_menu_list .list a {
  display: inline-block;
  width: 100%;
}
.side_menu_list .btn_wrap .sub_menu_list .list:last-child {
  margin-bottom: 0;
}
.side_menu_list .btn_wrap .sub_menu_list .list.active {
  color: var(--color-green);
}
.side_menu_list .btn_wrap.active .list_btn {
  background-color: #060F20;
}
.side_menu_list .btn_wrap.active .list_btn::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.side_menu_list .btn_wrap:hover .list_btn {
  background-color: #060F20;
}
.side_menu_list .btn_wrap.calc .list_btn::after {
  display: none !important;
}
.side_menu.wide {
  width: 286px;
}
.side_menu.wide .btn_wrap .list_btn {
  width: 100%;
  padding-right: 30px;
}
.side_menu.wide .btn_wrap .list_btn::after, .side_menu.wide .btn_wrap .list_btn_text {
  opacity: 1;
  visibility: visible;
}
.side_menu.wide .btn_wrap .list_btn::after {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.side_menu.wide .btn_wrap.active .sub_menu_list {
  display: block;
}

.container {
  width: calc(100% - 76px);
  margin-left: auto;
  min-height: 100vh;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 154px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (max-width: 991px) {
  .container {
    width: 100%;
    padding-top: 134px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container_item {
  width: calc(100% - 76px);
}

.container_item {
  background-color: #fff;
  position: fixed;
  left: 76px;
  top: 0;
  padding: 0 45px;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media all and (max-width: 991px) {
  .container_item {
    width: 100%;
    padding: 0 20px;
    left: 0;
  }
}

.content_container {
  padding-bottom: 60px;
}

.header {
  height: 80px;
  -webkit-box-shadow: 0px 1px 0px #E2E8F0;
          box-shadow: 0px 1px 0px #E2E8F0;
  z-index: 6;
}
@media all and (max-width: 991px) {
  .header {
    height: 60px;
  }
}
.header .ham_btn {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
}
.header .ham_btn span {
  border-top: 2px solid #1C2434;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 4px;
  width: 20px;
  border-radius: 50px;
}
.header .ham_btn span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  border-top: 2px solid #1C2434;
  width: 100%;
}
.header .ham_btn span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  border-top: 2px solid #1C2434;
  width: 100%;
}
@media all and (max-width: 991px) {
  .header .ham_btn {
    display: block;
  }
}
.header .search_wrap {
  width: 100%;
  max-width: 816px;
  margin-right: 50px;
}
@media all and (max-width: 991px) {
  .header .search_wrap {
    position: absolute;
    left: 0;
    top: 60px;
    max-width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    border-top: 1px solid #E2E8F0;
    display: none;
  }
  .header .search_wrap.show {
    display: block;
  }
}
.header .search_wrap input {
  width: 100%;
  height: 40px;
  background: url(../img/icon/search.svg) no-repeat left 20px center;
  padding-right: 10px;
  padding-left: 42px;
  border: 1px solid #E2E8F0;
  border-radius: 50px;
}
@media all and (max-width: 991px) {
  .header .search_wrap input {
    background: none;
    padding: 0 20px;
  }
}
.header .search_wrap input::-webkit-input-placeholder {
  color: var(--color-lightGray);
}
.header .search_wrap input::-moz-placeholder {
  color: var(--color-lightGray);
}
.header .search_wrap input:-ms-input-placeholder {
  color: var(--color-lightGray);
}
.header .search_wrap input::-ms-input-placeholder {
  color: var(--color-lightGray);
}
.header .search_wrap input::placeholder {
  color: var(--color-lightGray);
}
.header .menu_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header .menu_wrap .menu_btn {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.header .menu_wrap .menu_btn_search {
  background-image: url(../img/icon/search_black.svg);
  background-size: 24px;
  display: none;
}
@media all and (max-width: 991px) {
  .header .menu_wrap .menu_btn_search {
    display: block;
  }
}
.header .menu_wrap .menu_btn_logout {
  background-image: url(../img/icon/logout.svg);
  margin-left: 20px;
}
.header .menu_wrap .menu_btn_alarm {
  background-image: url(../img/icon/alarm.svg);
  margin: 0 30px;
}
@media all and (max-width: 991px) {
  .header .menu_wrap .menu_btn_alarm {
    margin: 0 20px;
  }
}
.header .menu_wrap .menu_btn_alarm.active {
  position: relative;
}
.header .menu_wrap .menu_btn_alarm.active::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  background: #FF5789;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  top: 0;
}
.header .menu_wrap .info_text {
  text-align: right;
  font-weight: 500;
  font-size: 14px;
}
.header .menu_wrap .info_text span {
  font-size: 12px;
  color: var(--color-lightGray);
}

.lnb {
  height: 60px;
  top: 80px;
  line-height: 60px;
  border-top: 1px solid #EBEFF2;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);
}
@media all and (max-width: 991px) {
  .lnb {
    top: 60px;
  }
}
.lnb_tab_slide .swiper-slide {
  width: auto;
  height: auto;
}
.lnb_tab_slide .swiper-slide.active .lnb_btn {
  font-weight: 500;
  color: #1C2434;
  position: relative;
}
.lnb_tab_slide .swiper-slide.active .lnb_btn::after {
  content: "";
  border-top: 1px solid #1C2434;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
@media all and (max-width: 991px) {
  .lnb_tab_slide .swiper-slide.active .lnb_btn::after {
    bottom: 2px;
  }
}
.lnb_tab_slide .lnb_btn {
  display: inline-block;
  font-weight: 400;
  color: var(--color-lightGray);
  width: 100%;
  height: 100%;
  padding: 0 28px;
}
@media all and (max-width: 991px) {
  .lnb_tab_slide .lnb_btn {
    font-size: 14px;
    padding: 0 15px;
  }
}

.current_box {
  margin-bottom: 14px;
  padding: 14px 18px;
}
@media all and (max-width: 768px) {
  .current_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.current_box .current_tit {
  font-weight: 500;
  font-size: 18px;
  padding-left: 16px;
  position: relative;
  color: #1C2434;
}
@media all and (max-width: 768px) {
  .current_box .current_tit {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.current_box .current_tit::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #1C2434;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#pagination {
  width: 100%;
  position: absolute;
  bottom: 44px;
}
#pagination .btn {
  display: inline-block;
  width: 42px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E0E2E7;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: -1px;
  position: relative;
  color: #232325;
  font-weight: 500;
}
@media all and (max-width: 991px) {
  #pagination .btn {
    font-size: 14px;
  }
}
@media all and (max-width: 768px) {
  #pagination .btn {
    width: 32px;
    height: 34px;
  }
}
#pagination .btn.active {
  color: var(--color-green);
}
#pagination .btn:hover {
  background-color: #f9f9f9;
}
#pagination .btn img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
}
#pagination .btn.arrow_left {
  border-radius: 4px 0px 0px 4px;
}
#pagination .btn.arrow_left img {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
#pagination .btn.arrow_right {
  border-radius: 0px 4px 4px 0px;
}
#pagination .btn.arrow_right img {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #fff;
}
.login .wrap {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 20px;
}
.login_top {
  text-align: center;
  margin-bottom: 40px;
}
.login_top .logo_img {
  width: 200px;
  margin: 0 auto 10px;
}
.login_tit {
  font-size: 18px;
}
.login_input .input_wrap {
  margin: 20px 0;
}
.login_input .btn_ty01 {
  max-width: 100%;
  margin-top: 40px;
}

.user_info.noActive .user_id label {
  position: relative;
}
.user_info.noActive .user_id label::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icon/stop.svg) no-repeat center;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.user_history_pro .table tr td.promotion a, .user_history_pro .table tr th.promotion a,
.user_history_pro_detail .table tr td.promotion a,
.user_history_pro_detail .table tr th.promotion a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.user_history_pro .table tr td.promotion .arrow_right, .user_history_pro .table tr th.promotion .arrow_right,
.user_history_pro_detail .table tr td.promotion .arrow_right,
.user_history_pro_detail .table tr th.promotion .arrow_right {
  width: 18px;
  vertical-align: sub;
}
.user_history_pro .table tr td.desc, .user_history_pro .table tr th.desc,
.user_history_pro_detail .table tr td.desc,
.user_history_pro_detail .table tr th.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_history_pro_detail {
  padding-top: 30px;
}
.user_history_pro_detail .table_wrap {
  margin: 0 20px;
  border-bottom: 0;
}
.user_history_pro_detail .table_wrap .table tr td:first-child, .user_history_pro_detail .table_wrap .table tr td:last-child, .user_history_pro_detail .table_wrap .table tr th:first-child, .user_history_pro_detail .table_wrap .table tr th:last-child {
  border: 1px solid #eee;
}

.user_history_rank .table_wrap.line thead tr {
  height: 40px;
}