.current_box{margin-bottom:14px; padding:14px 18px;
    .current_tit{flex:1; position:relative; padding-left:21px; @include font(18px, 500, #1C2434);
        &::before{content:''; @include conSize(6px, 6px, null); @include position(absolute, 50%, null, null, 0); transform: translateY(-50%); background:#1C2434; border-radius:50%;
            @include mobile{width:5px; height:5px;}
        }
        @include tablet{font-size:16px;}
        @include mobile{font-size:14px;}
        @include mobile-sm{padding-left:16px;}
    }
    .setting_btn_wrap{flex:1; justify-content:flex-end;
        .btn_ty01{
            @include mobile{margin-top:15px; background-position:center;}
        }
        @media(max-width:1085px){flex:2;}
    }
    @include mobile{flex-direction:column; align-items:flex-start;
        .setting_btn_wrap{
            .btn_ty01{margin-top:15px; background-position:center;}
        }
    }
    @include mobile-sm{padding:15px;}
}