#pagination{width:100%; position:absolute; bottom:44px; 
    .btn{@include conSize(42px, 44px, null); flex:0 0 auto; display:block; position:relative; padding:0; margin-left:-1px; background:$f; border:1px solid #E0E2E7; @include font(null, 500, #232325); text-align:center;
        &.active{color:var(--color-green);}
        &:hover{background-color:#f9f9f9;}

        img{@include conSize(16px, 16px, null); @include position(absolute, 50%, null, null, 50%);}

        &.arrow_left{border-radius:4px 0px 0px 4px;
            img{transform:translate(-50%, -50%) rotate(90deg);}
        }
        &.arrow_right{border-radius: 0px 4px 4px 0px;
            img{transform: translate(-50%, -50%) rotate(-90deg);}
        }
        @include tablet{font-size:14px;}
        @include mobile{@include conSize(32px, 34px);}
    }
}