#search{padding:35px 20px;
    .search_list{padding-bottom:20px; margin-bottom:20px; font-weight:500; border-bottom:1px solid #E2E8F0;
        &:last-child{border-bottom:none;}
        li:not(.sh_tit){margin-bottom:5px;
            @include mobile{font-size:14px;}
        }
    }
    .sh_tit{margin-bottom:15px; font-size:18px;
        @include mobile{font-size:16px; margin-bottom:10px;}
    }
    .match_text{margin:3px;color:var(--color-green);}
    .c_gray{margin-left:10px; font-size:14px; font-weight:normal; color:var(--color-gray);}
    .btn_more{padding-right:20px; margin:20px 0 0; background: url(../img/icon/angle_thin_right_g.svg) no-repeat right center;}
}