// 회원정보
.user_info{
    &.noActive{
        .user_id{
            label{position: relative;
                &::after{@include conSize(18px, 18px, null); content:""; position:absolute; top:50%; transform:translateY(-50%); margin-left:5px; background:url(../img/icon/stop.svg) no-repeat center;}
            }
        }
    }
}

// 프로모션 참여 내역
.user_history_pro {
    .table{
        tr{   
            td, th{
                &.promotion{
                    a{@include conSize(100%, 100%, null); display:inline-block;}
                    .arrow_right{width:18px; margin-left:8px; vertical-align:sub;}
                }        
            }
        }
    }
}

// 탄소 중립 랭킹 변동 내역
.user_history_rank{
    .table_wrap.line{
        thead{
            tr{height:40px;}
        }
    }
}

// 도장 적립 내역
.user_history_stemp{
    .date_input_wrap{
        @include mobile{flex-direction:column;}
    }
    .stemp_num{text-align:center;}
}

// 1:1 문의 내역
.user_history_qna{
    @include mobile{
        .filter_wrap{
            .select_input_wrap{flex-direction:column;}
        }
    }
}

// 1:1 문의 상세 내역
.user_history_qna_detail {
    .table{
        textarea{min-height:120px; max-height:200px; resize:none;}
    }
}

.ip_box{width:100%; position:relative;
    .error_text{position:absolute; bottom:-28px; color:red;
        @include desktop{font-size:14px;}
    }
}

// 회원 등록
.user_add{
    .flex_box{
        @include desktop{margin-bottom:20px;}
    }
    .flex_left{margin-right:12.3%;
        @include desktop{margin-right:7%;}
    }
    .input_ty02{
        label, .label{max-width:248px;
            @include desktop{max-width:200px;}
        }
        &::before{top:14px; right:16px;}
    }
    .flex_box{
        .file-plus{width:32px; height:32px; margin:0 auto; margin-bottom:3px; background:url(../img/icon-plus-g.png) center no-repeat;}
    }
    .check_type.radio{margin-right:15%; margin-bottom:0;
        label{
            span{padding-left:43px; color:#6F727A}
        }
    }
    .account{
        .check_type.radio{margin-right:5.3%;
            label{
                span{color:#6F727A}
            }
        }
    }
    .gender{
        & > label{max-width:248px;
            @include desktop{max-width:200px;}
        }
        .check_type.radio{margin-right:20.5%;}
    }
    .hands{
        & > label{max-width:248px;
            @include desktop{max-width:200px;}
        }
        .check_type.radio{margin-right:17%;}
    }
    .marry{
        & > label{max-width:248px;
            @include desktop{max-width:200px;}
        }
    }
    .account{
        & > .label{max-width:248px;
            @include desktop{max-width:200px;}
        }
    }
}
