// 회원정보
.user_info {
  &.noActive {
    .user_id {
      label {
        position: relative;
  
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: url(../img/icon/stop.svg) no-repeat center;
          width: 18px;
          height: 18px;	
          margin-left: 5px;
        }
      }
    }
  }
}

// 프로모션 참여 내역
.user_history_pro {
  .table {
    tr {   
      td, th {
        &.promotion {
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          .arrow_right {
            width: 18px;
            vertical-align: sub;
            margin-left: 8px;
          }
        }        
      }
    }
  }
}

// 탄소 중립 랭킹 변동 내역
.user_history_rank {
  .table_wrap.line {
    thead {
      tr {
        height: 40px;
      }
    }
  }
}

// 도장 적립 내역
.user_history_stemp {
  .date_input_wrap {
    @include mobile {
      flex-direction: column;
    }
  }

  .stemp_num {
    text-align: center;
  }
}

// 1:1 문의 내역
.user_history_qna {
  @include desktop {
    .filter_wrap {
      flex-wrap: wrap;

      .select_input_wrap {
        width: 50%;
        margin-bottom: 10px;

        .input_ty02 {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  @include mobile {
    .filter_wrap {
      .select_input_wrap {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

// 1:1 문의 상세 내역
.user_history_qna_detail {
  .table {
    .align_left input {
      text-align: left;
    }
    .radio_box {
      :first-child {
        margin-right: 5px;
      }

      .check_type.radio span {
        font-size: 14px;
  
        &::before {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
        &::after {
          width: 10px;
          height: 10px;
          top: 4px;
          left: 4px;
        }
      }
    }
  
    textarea {
      resize: none;
      min-height: 120px;
      max-height: 200px;      
    }
  }
}

.ip_box {
  width: 100%;
  flex-direction: column;
}