// 회원정보
.user_info {
  &.noActive {
    .user_id {
      label {
        position: relative;
  
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: url(../img/icon/stop.svg) no-repeat center;
          width: 18px;
          height: 18px;	
          margin-left: 5px;
        }
      }
    }
  }
}

// 프로모션 참여 내역
.user_history_pro {
  .table {
    tr {   
      td, th {
        &.promotion {
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          .arrow_right {
            width: 18px;
            vertical-align: sub;
            margin-left: 8px;
          }
        }        
      }
    }
  }
}

// 탄소 중립 랭킹 변동 내역
.user_history_rank {
  .table_wrap.line {
    thead {
      tr {
        height: 40px;
      }
    }
  }
}

// 도장 적립 내역
.user_history_stemp {
  .date_input_wrap {
    @include mobile {
      flex-direction: column;
    }
  }

  .stemp_num {
    text-align: center;
  }
}

// 1:1 문의 내역
.user_history_qna {
  @include mobile {
    .filter_wrap {
      .select_input_wrap {
        flex-direction: column;
      }
    }
  }
}

// 1:1 문의 상세 내역
.user_history_qna_detail {
  .table {
    textarea {
      resize: none;
      min-height: 120px;
      max-height: 200px;      
    }
  }
}

.ip_box {
  position: relative;
  width: 100%;

  .error_text {
    position: absolute;
    bottom: -28px;
    color: red;
  }
}

// 230704
.user_list,
.deleted_user_list{
    .table_wrap{
        td{font-size:14px;}
    }
}
.user_list{
    .table{
        tr{
            .num{width:130px; padding-left:40px; text-align:left;}
        }
    }
}
.user_add{
    .write_type{max-width:1541px}
    .id_wrap,
    .addr_wrap{
        .btn_search{height:48px; line-height:48px; border-radius:8px;}
    }
    .flex_left{margin-right:12.3%}
    .input_ty02{
        label{max-width:248px;}
        input{height:48px; line-height:48px; border-radius:8px;}
        &::before{top:14px; right:16px;}
    }
    .flex_box{
        .file-plus{width:32px; height:32px; margin:0 auto; margin-bottom:3px; background:url(../img/icon-plus-g.png) center no-repeat;}
    }
    .check_type.radio{margin-right:15%; margin-bottom:0;
        label{
            span{padding-left:43px; color:#6F727A}
        }
    }
    .account{
        .check_type.radio{margin-right:5.3%;
            label{
                span{color:#6F727A}
            }
        }
    }
    .gender{
        & > label{max-width:248px;}
        .check_type.radio{margin-right:20.5%;}
    }
    .hands{
        & > label{max-width:248px;}
        .check_type.radio{margin-right:17%;}
    }
    .marry{
        & > label{max-width:248px;}
    }
}

// 데일리 챌린지 리스트
.ch_list{
    .select_input::before{right:10px;}
}