.side_menu {
  width: 76px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1C2434;
  color: #fff;
  transition: all .3s ease-in-out;
  padding: 25px 0;
  z-index: 100;

  &::-webkit-scrollbar {
		width: 7px;
		height: 7px;
		
		&-thumb {
			background: #555;
			border-radius: 50px;
		}
		&-track {
			background: #1C2434;
		}
	}
  
  @include tablet {
    left: -100%;

    &.wide {
      left: 0;
    }
  }

  .logo {
    display: inline-block;
    width: 40px;
    margin-bottom: 40px;
  }

  &_list {
    .btn_wrap {  
      .list_btn {
        color:#DEE4EE;
        border-radius: 5px;
        position: relative;
        text-align: left;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        transition: all .2s;

        &_text {
          opacity: 0;
          visibility: hidden;
          font-weight: 500;
          padding-left: 10px;
          white-space: nowrap;
        }        

        &_icon {
          width: 18px;
          height: 18px;
          flex: 0 0 auto;
        }

        &::after {
          content: "";
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background: url(../img/icon/angle_down_w.svg) no-repeat center;
          opacity: 0;
          visibility: hidden;
          transition: all .2s, opacity .1s;
        }
      }
      .sub_menu_list {
        padding-left: 40px;
        color: #8A99AF;
        margin: 0 0 22px;
        white-space: nowrap;
        display: none;

        .list {
          margin-bottom: 10px;
          font-weight: 500;

          a {
            display: inline-block;
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.active {
            color: var(--color-green);
          }
        }
      }

      &:hover,
      &.active {
        .list_btn {
          background-color: #060F20;

          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      &:hover {
        .list_btn {
          background-color: #060F20;
        }
      }
      &.calc {
        .list_btn::after {
          display: none !important;
        }
      }
    }
  }

  
  &.wide {
    width: 286px;

    .btn_wrap {
      .list_btn {
        width: 100%;
        padding-right: 30px;

        &::after,
        &_text {
          opacity: 1;
          visibility: visible;
        }
        &::after {
          transition: opacity .5s;
        }
      }

      &:hover,
      &.active {
        .sub_menu_list {
          display: block;
        }
      }
    }
  }
}